@keyframes drop {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(80px);
    }
    100% {
        transform: translateY(0px);
    }
    }

    .bubble {
    background: linear-gradient(to bottom, #e64980, #ff8787);
    animation: drop 5s ease-in-out infinite;
    }

    .bubble1 {
    background: linear-gradient(to bottom, #82c91e, #3bc9db);
    animation: drop 3s ease-in-out infinite;
    }

    .bubble2 {
    background: linear-gradient(to bottom, #7950f2, #f783ac);
    animation: drop 4s ease-in-out infinite;
    }

    .bubble3 {
    background: linear-gradient(to bottom, #4481eb, #04befe);
    animation: drop 6s ease-in-out infinite;
    }